<div class="contact__box">

    <md-card >

        <md-subheader class="header__main md-headline">Dane kontaktowe</md-subheader>
        <md-list-item>
            <i class="contact__fa fa fa-skype" aria-hidden="true"></i>
            <div  layout="column">
                <a class="contact__a" href="skype:sivy12_12?call">sivy12_12</a>

            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item >
            <i  class="contact__fa fa fa-envelope-o" aria-hidden="true"></i>
            <div  layout="column">
                <a class="contact__a" href="mailto:Rabczewski.Damian@programisci.eu">Rabczewski.Damian@programisci.eu</a>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <i class="contact__fa fa fa-phone" aria-hidden="true"></i>
            <div layout="column">
                <a class="contact__a" href="tel:785-524-548">785-524-548</a>

            </div>
        </md-list-item>
        <md-divider></md-divider>

    </md-card>


</div>

