<div class="project__box">

    <md-card>

            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Aktualne">
                        <md-content class="main__item">

                            <md-list-item ng-click="null">
                                <div layout="column">
                                    Projekt Relion
                                </div>
                            </md-list-item>
                            <md-list-item ng-click="null">
                                <div class="md-list-item-text" layout="column">
                                    Projekt Biblioteka
                                </div>
                            </md-list-item>

                        </md-content>
                    </md-tab>
                    <md-tab label="Archiwalne">
                        <md-content class="md-padding">

                            <md-list-item ng-click="null">
                                <div style="color: lightgray;" class="md-list-item-text" layout="column">
                                    Projekt Relion
                                </div>
                            </md-list-item>

                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>


    </md-card>

</div>