<div class="employeeList__box md-whiteframe-z3">
    <md-content class="employeeList__content">
            <div class="employeeList__top">
                <input style="background: white; border: none" type="text" class="form-control" ng-model="search" placeholder="Wyszukaj" />
            </div>

            <md-icon class="employeeList__hide"  ng-click="zwin()">subdirectory_arrow_right</md-icon>
        <md-list class="employee__list" flex>



            <md-list-item ng-click="null">
                <img src="images/avatar.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Damian Rabczewski
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar2.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Krzysztof Jarzyna
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar2.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Krzysztof Jarzyna
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar2.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Krzysztof Jarzyna
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar2.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Krzysztof Jarzyna
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar2.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Krzysztof Jarzyna
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar2.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Krzysztof Jarzyna
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar3.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Zdzisław Kęcina
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Damian Rabczewski
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar2.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Krzysztof Jarzyna
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar3.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Zdzisław Kęcina
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Damian Rabczewski
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar2.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Krzysztof Jarzyna
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar3.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Zdzisław Kęcina
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Damian Rabczewski
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar2.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Krzysztof Jarzyna
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar3.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Zdzisław Kęcina
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Damian Rabczewski
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar2.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Krzysztof Jarzyna
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar3.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Zdzisław Kęcina
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Damian Rabczewski
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar2.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Krzysztof Jarzyna
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                <img src="images/avatar3.jpg" class="md-avatar" alt="ktos" />
                <div>
                    Zdzisław Kęcina
                </div>
            </md-list-item>

    </md-content>
</div>
